<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mtrzk_FaqPage::config" title="MTRZK FAQ Question" sortOrder="90"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Mtrzk_FaqPage::faqpage" title="MTRZK FAQ Question"
                          translate="title" sortOrder="100">
                    <resource id="Mtrzk_FaqPage::edit" title="FAQ Question Edit" sortOrder="90"/>
                    <resource id="Mtrzk_FaqPage::question_save" title="FAQ Question Save" sortOrder="100"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
